body {
  margin: 0;
  overflow-x: hidden;
}

.flag {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

#background-hero {
  background: url("https://elwhats.com/image/l4/hero-bg.svg");
  background-position: left;
  background-position-x: right;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-container {
  padding: 25px;
  padding-top: 40px;
  border: #ccc solid 1px;
}

.button-toggle {
  padding-left: 10px;
  color: #a9a9a9;
  font-weight: 165px;
  border-radius: 35px;
  padding: 5px 30px;
  border: none;
}

.buttons-container {
  border-radius: 35px;
  border: #a9a9a9 1px solid;
  padding: 0px 50px;
  width: 200px;
}

footer {
  padding-top: 35px;
  background-color: rgb(145, 225, 195, 0.3);
  padding-bottom: 50px;
}
/*styles*/
/* Medium & small screens */
@media (max-width: 991px) {
  p.display-2,
  p.display-3 {
    font-size: 2rem;
    text-align: center;
  }

  p.display-5 {
    font-size: 1.1rem;
    text-align: center;
  }

  button {
    margin: 1rem auto !important;
    display: block;
  }

  img {
    margin: 1rem auto !important;
    padding: 0 !important;
  }
}
